<script src="/javascripts/image.js" type="text/javascript" charset="utf-8"></script>
<div>
    <div>

        <img src="<%=item_info.img_url[1]%>" width="400px" height="400px" id="window">
<%
        for(var i=1;i<item_info.img_url.length;i++)
        {
 %>
        <a href="<%=item_info.img_url[i]%>"><img src="<%=item_info.img_url[i]%>" width="100px" height="100px" id="thumb<%=i%>" onmouseover="showwindow(this)"></a>
<%
        }
        if(item_info.img_url.length==1){
 %>
        <img src="<%=item_info.img_url[1]%>" width="400px" height="400px">
<%
        }
%>
    </div>
    <div>
        <span>제목 : <%=item_info.title%></span></br>
        <span>가격 : <%=item_info.price%></span></br>
        <span>설명</span></br>
        <hr>
        <span><%=item_info.des%></span>
    </div>
</div>