<link href="/stylesheets/item_list.css" rel="stylesheet" type="text/css">
<div>
    <h1>헬로마켓 품목</h1>
    <h3><%=category_name%></h3>
</div>
<hr>
<div>
<%
    for(var i=0;i<20;i++)
    {
        var item = items;
%>
    <ul class="item_wrap">
        <a href="/usedmall/hellomarket<%-item.url[i]%>">
            <div class="img_wrap">
                <img class="item_thumbnail" src="<%-item.img_url[i]%>">
            </div>
            <span class="item_title"><%=item.title[i]%></span>
            <span class="itme_price"><%=item.price[i]%></span>
        </a>
    </ul>
<%
    }
 %>
</div>